<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="driveSize" type="System.Configuration.AppSettingsSection, System.Configuration"/>
   </configSections>
  <connectionStrings>
    <add name="mainConnection"
         connectionString="Host=localhost; Username=postgres; Password=qwerty; Database=first_database"
         providerName="Npgsql"/>
  </connectionStrings>
  <appSettings>
    <add key="spreadsheetId" value="1TtFFfNHNxTkfMD4zcfL1LDRfX-TIA_HUC5qXmnhn9GI" />
    <add key="googleAccountConnectionParameters" value='{"installed":{"client_id":"928224927621-pbeldsclghvbpajbp1mcljb54810lm8b.apps.googleusercontent.com","project_id":"databasesinfospreadsheets","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_secret": "NS2Oh0S4uFlzP70G4A8Pp0dV","redirect_uris": [ "urn:ietf:wg:oauth:2.0:oob", "http://localhost" ]}}'/>
  </appSettings>
  <driveSize>
    <add key="mainConnectionSize" value="38"/>
  </driveSize>
</configuration>